name: Pterodactyl Yolk Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Local Image
        run: docker build -t local-yolk .

      - name: Test - Identity & Sudo
        run: |
          docker run --rm \
            -e STARTUP="whoami && sudo apt update && sudo apt install -y neofetch && neofetch --off" \
            local-yolk

      - name: Test - Node & Python Versions
        run: |
          docker run --rm \
            -e STARTUP="node -v && python3 --version" \
            local-yolk

      - name: Test - FFmpeg Performance
        run: |
          docker run --rm \
            -e STARTUP="ffmpeg -version | head -n 1" \
            local-yolk
